ScreenSnapshotCapture.Library/bin/Debug/ScreenSnapshotCapture.Library.dll
ScreenSnapshotCapture.Library/bin/Debug/ScreenSnapshotCapture.Library.pdb
ScreenSnapshotCapture.Library/obj/Debug/ScreenSnapshotCapture.Library.csproj.FileListAbsolute.txt
ScreenSnapshotCapture.Library/obj/Debug/ScreenSnapshotCapture.Library.csprojResolveAssemblyReference.cache
ScreenSnapshotCapture.Library/obj/Debug/ScreenSnapshotCapture.Library.dll
ScreenSnapshotCapture.Library/obj/Debug/ScreenSnapshotCapture.Library.pdb
ScreenSnapshotCapture.Software/bin/Debug/ScreenSnapshotCapture.Library.dll
ScreenSnapshotCapture.Software/bin/Debug/ScreenSnapshotCapture.Library.pdb
ScreenSnapshotCapture.Software/bin/Debug/ScreenSnapshotCapture.Software.exe
ScreenSnapshotCapture.Software/bin/Debug/ScreenSnapshotCapture.Software.pdb
ScreenSnapshotCapture.Software/obj/Debug/App.g.cs
ScreenSnapshotCapture.Software/obj/Debug/MainWindow.baml
ScreenSnapshotCapture.Software/obj/Debug/MainWindow.g.cs
ScreenSnapshotCapture.Software/obj/Debug/ScreenSnapshotCapture.Software.csproj.FileListAbsolute.txt
ScreenSnapshotCapture.Software/obj/Debug/ScreenSnapshotCapture.Software.csproj.GenerateResource.Cache
ScreenSnapshotCapture.Software/obj/Debug/ScreenSnapshotCapture.Software.csprojResolveAssemblyReference.cache
ScreenSnapshotCapture.Software/obj/Debug/ScreenSnapshotCapture.Software.exe
ScreenSnapshotCapture.Software/obj/Debug/ScreenSnapshotCapture.Software.g.resources
ScreenSnapshotCapture.Software/obj/Debug/ScreenSnapshotCapture.Software.pdb
ScreenSnapshotCapture.Software/obj/Debug/ScreenSnapshotCapture.Software.Properties.Resources.resources
ScreenSnapshotCapture.Software/obj/Debug/ScreenSnapshotCapture.Software_Content.g.i.cs
ScreenSnapshotCapture.Software/obj/Debug/ScreenSnapshotCapture.Software_MarkupCompile.cache
ScreenSnapshotCapture.Software/ScreenSnapshotCapture.Software.csproj.user
